# choose st-link/j-link/dap-link etc.\
# adapter driver cmsis-dap
# board：板卡配置，各种官方板卡
# 路径在OpenOCD安装目录的share\openocd\scripts下：
# interface：仿真器类型配置，比如ST-Link、CMSIS-DAP等都在里面
# target：芯片类型配置，STM32F1xx、STM32L0XX等等都在里面
# 设置好配置文件之后，就可以点击下载或者调试按钮进行下载和在线调试了。
# 在配置文件中不要加reset_config srst_only这一句，会导致下载失败，这一句是指示系统重启的，删除不影响下载。
    source [find interface/cmsis-dap.cfg]
    transport select swd
# 0x10000 = 64K Flash Size
# 0x100000 = 1024k Flash Size
# set FLASH_SIZE 0x100000
    source [find target/stm32f4x.cfg]
# download speed = 10MHz
adapter speed 10000000